.container {
	width: 500px;
	height: 500px;
	margin: 10px;
	background-color: #F1F2F2;
}

.form {
	margin: 30px;
	position: relative;
	top: 0px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	margin: 0;
	padding: 20px 0 20px 0;
	font-weight: bold;
	color: #282829;
}

p {
	font-family: 'Montserrat', sans-serif;
	line-height: 2em;
	font-size: 0.8em;
	margin: 0;
}